-------OFFICAL VERSION FROM GROUP 6---------
CREATE DATABASE quanlyhocsinh
GO
USE quanlyhocsinh
GO
ALTER TABLE [dbo].[thoigianday] DROP CONSTRAINT [FK_thoigianday_monhoc]
GO
ALTER TABLE [dbo].[monhoc_hocsinh] DROP CONSTRAINT [FK_monhoc_hocsinh_monhoc]
GO
ALTER TABLE [dbo].[monhoc_hocsinh] DROP CONSTRAINT [FK_monhoc_hocsinh_hocsinh]
GO
ALTER TABLE [dbo].[monhoc] DROP CONSTRAINT [FK_monhoc_phonghoc]
GO
ALTER TABLE [dbo].[monhoc] DROP CONSTRAINT [FK_monhoc_loaimonhoc]
GO
ALTER TABLE [dbo].[monhoc] DROP CONSTRAINT [FK_monhoc_giaovien]
GO
ALTER TABLE [dbo].[lop] DROP CONSTRAINT [FK_lop_loailophoc]
GO
ALTER TABLE [dbo].[khenthuong] DROP CONSTRAINT [FK_khenthuong_monhoc]
GO
ALTER TABLE [dbo].[khenthuong] DROP CONSTRAINT [FK_khenthuong_hocsinh]
GO
ALTER TABLE [dbo].[ketquahoctap] DROP CONSTRAINT [FK_ketquahoctap_monhoc]
GO
ALTER TABLE [dbo].[ketquahoctap] DROP CONSTRAINT [FK_ketquahoctap_loaiketqua]
GO
ALTER TABLE [dbo].[ketquahoctap] DROP CONSTRAINT [FK_ketquahoctap_hocsinh]
GO
ALTER TABLE [dbo].[hocsinh_lophoc] DROP CONSTRAINT [FK_hocsinh_lophoc_lop]
GO
ALTER TABLE [dbo].[hocsinh_lophoc] DROP CONSTRAINT [FK_hocsinh_lophoc_hocsinh]
GO
ALTER TABLE [dbo].[diemdanh] DROP CONSTRAINT [FK_diemdanh_monhoc]
GO
ALTER TABLE [dbo].[diemdanh] DROP CONSTRAINT [FK_diemdanh_hocsinh]
GO
/****** Object:  Table [dbo].[thoigianday]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[thoigianday]') AND type in (N'U'))
DROP TABLE [dbo].[thoigianday]
GO
/****** Object:  Table [dbo].[phonghoc]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[phonghoc]') AND type in (N'U'))
DROP TABLE [dbo].[phonghoc]
GO
/****** Object:  Table [dbo].[monhoc_hocsinh]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[monhoc_hocsinh]') AND type in (N'U'))
DROP TABLE [dbo].[monhoc_hocsinh]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[monhoc]') AND type in (N'U'))
DROP TABLE [dbo].[monhoc]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lop]') AND type in (N'U'))
DROP TABLE [dbo].[lop]
GO
/****** Object:  Table [dbo].[loaimonhoc]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[loaimonhoc]') AND type in (N'U'))
DROP TABLE [dbo].[loaimonhoc]
GO
/****** Object:  Table [dbo].[loailophoc]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[loailophoc]') AND type in (N'U'))
DROP TABLE [dbo].[loailophoc]
GO
/****** Object:  Table [dbo].[loaiketqua]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[loaiketqua]') AND type in (N'U'))
DROP TABLE [dbo].[loaiketqua]
GO
/****** Object:  Table [dbo].[khenthuong]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[khenthuong]') AND type in (N'U'))
DROP TABLE [dbo].[khenthuong]
GO
/****** Object:  Table [dbo].[ketquahoctap]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ketquahoctap]') AND type in (N'U'))
DROP TABLE [dbo].[ketquahoctap]
GO
/****** Object:  Table [dbo].[hocsinh_lophoc]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[hocsinh_lophoc]') AND type in (N'U'))
DROP TABLE [dbo].[hocsinh_lophoc]
GO
/****** Object:  Table [dbo].[hocsinh]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[hocsinh]') AND type in (N'U'))
DROP TABLE [dbo].[hocsinh]
GO
/****** Object:  Table [dbo].[giaovien]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[giaovien]') AND type in (N'U'))
DROP TABLE [dbo].[giaovien]
GO
/****** Object:  Table [dbo].[diemdanh]    Script Date: 5/23/2021 4:41:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[diemdanh]') AND type in (N'U'))
DROP TABLE [dbo].[diemdanh]
GO
/****** Object:  Table [dbo].[diemdanh]    Script Date: 5/23/2021 4:41:30 PM ******/



-------------------CREATE TABLE---------------------
GO
CREATE TABLE [dbo].[diemdanh](
	[id] [int] NOT NULL,
	[mahocsinh] [int] NULL,
	[mamonhoc] [int] NULL,
	[thoigiandiemdanh] [datetime] NULL,
 CONSTRAINT [PK_diemdanh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] 
GO
/****** Object:  Table [dbo].[giaovien]    Script Date: 5/23/2021 4:41:30 PM ******/
GO
CREATE TABLE [dbo].[giaovien](
	[magiaovien] [int] NOT NULL,
	[tengiaovien] [nvarchar](255) NULL,
	[tuoi] [int] NULL,
	[diachi] [text] NULL,
	[sodienthoai] [nvarchar](255) NULL,
 CONSTRAINT [PK_giaovien] PRIMARY KEY CLUSTERED 
(
	[magiaovien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hocsinh]    Script Date: 5/23/2021 4:41:30 PM ******/

CREATE TABLE [dbo].[hocsinh](
	[mahocsinh] [int] NOT NULL,
	[tenhocsinh] [nvarchar](255) NULL,
	[diachi] [nvarchar](255) NULL,
	[sodienthoai] [nvarchar](255) NULL,
	[mota] [text] NULL,
 CONSTRAINT [PK_hocsinh] PRIMARY KEY CLUSTERED 
(
	[mahocsinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hocsinh_lophoc]    Script Date: 5/23/2021 4:41:30 PM ******/

CREATE TABLE [dbo].[hocsinh_lophoc](
	[id] [int] NOT NULL,
	[mahocsinh] [int] NULL,
	[malophoc] [int] NULL,
 CONSTRAINT [PK_hocsinh_lophoc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ketquahoctap]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[ketquahoctap](
	[id] [int] NOT NULL,
	[maloaiketqua] [int] NULL,
	[mahocsinh] [int] NULL,
	[mamonhoc] [int] NULL,
	[ketqua] [float] NULL,
 CONSTRAINT [PK_ketquahoctap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khenthuong]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[khenthuong](
	[id] [int] NOT NULL,
	[mahocsinh] [int] NULL,
	[mamonhoc] [int] NULL,
	[khenthuong] [nvarchar](255) NULL,
	[loaikhenthuong] [nvarchar](255) NULL,
 CONSTRAINT [PK_khenthuong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaiketqua]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[loaiketqua](
	[maloai] [int] NOT NULL,
	[tenloai] [nvarchar](255) NULL,
 CONSTRAINT [PK_loaiketqua] PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loailophoc]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[loailophoc](
	[maloailop] [int] NOT NULL,
	[tenloailop] [nvarchar](255) NULL,
 CONSTRAINT [PK_loailophoc] PRIMARY KEY CLUSTERED 
(
	[maloailop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaimonhoc]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[loaimonhoc](
	[maloai] [int] NOT NULL,
	[tenloai] [nvarchar](255) NULL,
 CONSTRAINT [PK_loaimonhoc] PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[lop](
	[malop] [int] NOT NULL,
	[tenlop] [nvarchar](255) NULL,
	[maloailophoc] [int] NULL,
 CONSTRAINT [PK_lop] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[monhoc](
	[mamonhoc] [int] NOT NULL,
	[tenmonhoc] [nvarchar](255) NULL,
	[magiaovien] [int] NULL,
	[maloaimon] [int] NULL,
	[maphong] [int] NULL,
	[mota] [text] NULL,
 CONSTRAINT [PK_monhoc] PRIMARY KEY CLUSTERED 
(
	[mamonhoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc_hocsinh]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[monhoc_hocsinh](
	[id] [int] NOT NULL,
	[mahocsinh] [int] NULL,
	[mamonhoc] [int] NULL,
 CONSTRAINT [PK_monhoc_hocsinh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phonghoc]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[phonghoc](
	[maphong] [int] NOT NULL,
	[tenphong] [nvarchar](255) NULL,
	[mota] [text] NULL,
 CONSTRAINT [PK_phonghoc] PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thoigianday]    Script Date: 5/23/2021 4:41:30 PM ******/

GO
CREATE TABLE [dbo].[thoigianday](
	[id] [int] NOT NULL,
	[thoigianbatdau] [datetime] NULL,
	[thoigianketthuc] [datetime] NULL,
	[mamonhoc] [int] NULL,
 CONSTRAINT [PK_thoigianday] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

-------INSERT DATA-------
GO
INSERT [dbo].[diemdanh] ([id], [mahocsinh], [mamonhoc], [thoigiandiemdanh]) VALUES (1, 13, 1, CAST(N'2021-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[diemdanh] ([id], [mahocsinh], [mamonhoc], [thoigiandiemdanh]) VALUES (2, 29, 2, CAST(N'2021-05-20T10:00:00.000' AS DateTime))
INSERT [dbo].[diemdanh] ([id], [mahocsinh], [mamonhoc], [thoigiandiemdanh]) VALUES (3, 30, 4, CAST(N'2021-05-20T10:00:00.000' AS DateTime))
GO
INSERT [dbo].[giaovien] ([magiaovien], [tengiaovien], [tuoi], [diachi], [sodienthoai]) VALUES (1, N'Pham Thi Hoa', 34, N'Ha Noi', N'0973548296')
INSERT [dbo].[giaovien] ([magiaovien], [tengiaovien], [tuoi], [diachi], [sodienthoai]) VALUES (2, N'Pham Anh Tuan', 34, N'Ha Noi', N'097354676')
INSERT [dbo].[giaovien] ([magiaovien], [tengiaovien], [tuoi], [diachi], [sodienthoai]) VALUES (3, N'Nguyen Anh Quan', 29, N'Ha Noi', N'0937494035')

GO
INSERT [dbo].[hocsinh] ([mahocsinh], [tenhocsinh], [diachi], [sodienthoai], [mota]) VALUES (1, N'Nguyen Van An', N'Hung Yen', N'0123456779', NULL)
INSERT [dbo].[hocsinh] ([mahocsinh], [tenhocsinh], [diachi], [sodienthoai], [mota]) VALUES (2, N'Nguyen Van Bang', N'Ha Noi', N'0649677899', NULL)
INSERT [dbo].[hocsinh] ([mahocsinh], [tenhocsinh], [diachi], [sodienthoai], [mota]) VALUES (3, N'Nguyen Thi Hoa', N'Ha Noi', N'0813456789', NULL)

GO
INSERT [dbo].[hocsinh_lophoc] ([id], [mahocsinh], [malophoc]) VALUES (1, 1, 1)
INSERT [dbo].[hocsinh_lophoc] ([id], [mahocsinh], [malophoc]) VALUES (2, 3, 3)
INSERT [dbo].[hocsinh_lophoc] ([id], [mahocsinh], [malophoc]) VALUES (3, 2, 2)

GO
INSERT [dbo].[ketquahoctap] ([id], [maloaiketqua], [mahocsinh], [mamonhoc], [ketqua]) VALUES (1, 1, 1, 1, 10)
INSERT [dbo].[ketquahoctap] ([id], [maloaiketqua], [mahocsinh], [mamonhoc], [ketqua]) VALUES (2, 1, 2, 2, 10)
INSERT [dbo].[ketquahoctap] ([id], [maloaiketqua], [mahocsinh], [mamonhoc], [ketqua]) VALUES (3, 2, 2, 3, 5)

GO
INSERT [dbo].[khenthuong] ([id], [mahocsinh],[mamonhoc],[khenthuong], [loaikhenthuong]) VALUES (1, 1,2, N'hoc sinh gioi', N'hoc ky I')
INSERT [dbo].[khenthuong] ([id], [mahocsinh],[mamonhoc],[khenthuong], [loaikhenthuong]) VALUES (2, 2, 1,N'hoc sinh kha', N'hoc ky II')
INSERT [dbo].[khenthuong] ([id], [mahocsinh],[mamonhoc],[khenthuong], [loaikhenthuong]) VALUES (3, 4, 4,N'hoc sinh gioi', N'hoc ky I ')

GO
INSERT [dbo].[loaiketqua] ([maloai], [tenloai]) VALUES (1, N'Bai giua ki so 1')
INSERT [dbo].[loaiketqua] ([maloai], [tenloai]) VALUES (2, N'Bai giua ki so 2')
INSERT [dbo].[loaiketqua] ([maloai], [tenloai]) VALUES (3, N'Cuoi ki')
GO
INSERT [dbo].[loailophoc] ([maloailop], [tenloailop]) VALUES (1, N'Offline')
INSERT [dbo].[loailophoc] ([maloailop], [tenloailop]) VALUES (2, N'Online')
GO
INSERT [dbo].[loaimonhoc] ([maloai], [tenloai]) VALUES (1, N'Cong nghe thong tin')
INSERT [dbo].[loaimonhoc] ([maloai], [tenloai]) VALUES (2, N'Ke toan')
INSERT [dbo].[loaimonhoc] ([maloai], [tenloai]) VALUES (3, N'Tu tuong Ho Chi Minh')

GO
INSERT [dbo].[lop] ([malop], [tenlop], [maloailophoc]) VALUES (1, N'cong nghe thong tin', 1)
INSERT [dbo].[lop] ([malop], [tenlop], [maloailophoc]) VALUES (2, N'khoa hoc du lieu', 2)
INSERT [dbo].[lop] ([malop], [tenlop], [maloailophoc]) VALUES (3, N'Acturay', 1)

GO
INSERT [dbo].[monhoc] ([mamonhoc], [tenmonhoc], [magiaovien], [maloaimon], [maphong], [mota]) VALUES (1, N'Cong nghe phan mem', 1, 1, 1, NULL)
INSERT [dbo].[monhoc] ([mamonhoc], [tenmonhoc], [magiaovien], [maloaimon], [maphong], [mota]) VALUES (2, N'Phuong phap tinh', 2, 2, 2, NULL)
INSERT [dbo].[monhoc] ([mamonhoc], [tenmonhoc], [magiaovien], [maloaimon], [maphong], [mota]) VALUES (3, N'Giai tich', 4, 3, 3, NULL)


GO
INSERT [dbo].[monhoc_hocsinh] ([id], [mahocsinh], [mamonhoc]) VALUES (1, 1, 1)
INSERT [dbo].[monhoc_hocsinh] ([id], [mahocsinh], [mamonhoc]) VALUES (2, 2, 2)
INSERT [dbo].[monhoc_hocsinh] ([id], [mahocsinh], [mamonhoc]) VALUES (3, 3, 3)

GO
INSERT [dbo].[phonghoc] ([maphong], [tenphong], [mota]) VALUES (1, N'201', NULL)
INSERT [dbo].[phonghoc] ([maphong], [tenphong], [mota]) VALUES (2, N'202', NULL)
INSERT [dbo].[phonghoc] ([maphong], [tenphong], [mota]) VALUES (3, N'203', NULL)

GO
INSERT [dbo].[thoigianday] ([id], [thoigianbatdau], [thoigianketthuc], [mamonhoc]) VALUES (1, CAST(N'2021-05-23T00:00:00.000' AS DateTime), CAST(N'2021-08-23T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[thoigianday] ([id], [thoigianbatdau], [thoigianketthuc], [mamonhoc]) VALUES (2, CAST(N'2021-05-23T00:00:00.000' AS DateTime), CAST(N'2021-08-23T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[thoigianday] ([id], [thoigianbatdau], [thoigianketthuc], [mamonhoc]) VALUES (3, CAST(N'2021-05-23T00:00:00.000' AS DateTime), CAST(N'2021-08-23T00:00:00.000' AS DateTime), 1)
GO



ALTER TABLE [dbo].[diemdanh]  WITH CHECK ADD  CONSTRAINT [FK_diemdanh_hocsinh] FOREIGN KEY([mahocsinh])
REFERENCES [dbo].[hocsinh] ([mahocsinh])
GO
ALTER TABLE [dbo].[diemdanh] CHECK CONSTRAINT [FK_diemdanh_hocsinh]
GO
ALTER TABLE [dbo].[diemdanh]  WITH CHECK ADD  CONSTRAINT [FK_diemdanh_monhoc] FOREIGN KEY([mamonhoc])
REFERENCES [dbo].[monhoc] ([mamonhoc])
GO
ALTER TABLE [dbo].[diemdanh] CHECK CONSTRAINT [FK_diemdanh_monhoc]
GO
ALTER TABLE [dbo].[hocsinh_lophoc]  WITH CHECK ADD  CONSTRAINT [FK_hocsinh_lophoc_hocsinh] FOREIGN KEY([mahocsinh])
REFERENCES [dbo].[hocsinh] ([mahocsinh])
GO
ALTER TABLE [dbo].[hocsinh_lophoc] CHECK CONSTRAINT [FK_hocsinh_lophoc_hocsinh]
GO
ALTER TABLE [dbo].[hocsinh_lophoc]  WITH CHECK ADD  CONSTRAINT [FK_hocsinh_lophoc_lop] FOREIGN KEY([malophoc])
REFERENCES [dbo].[lop] ([malop])
GO
ALTER TABLE [dbo].[hocsinh_lophoc] CHECK CONSTRAINT [FK_hocsinh_lophoc_lop]
GO
ALTER TABLE [dbo].[ketquahoctap]  WITH CHECK ADD  CONSTRAINT [FK_ketquahoctap_hocsinh] FOREIGN KEY([mahocsinh])
REFERENCES [dbo].[hocsinh] ([mahocsinh])
GO
ALTER TABLE [dbo].[ketquahoctap] CHECK CONSTRAINT [FK_ketquahoctap_hocsinh]
GO
ALTER TABLE [dbo].[ketquahoctap]  WITH CHECK ADD  CONSTRAINT [FK_ketquahoctap_loaiketqua] FOREIGN KEY([maloaiketqua])
REFERENCES [dbo].[loaiketqua] ([maloai])
GO
ALTER TABLE [dbo].[ketquahoctap] CHECK CONSTRAINT [FK_ketquahoctap_loaiketqua]
GO
ALTER TABLE [dbo].[ketquahoctap]  WITH CHECK ADD  CONSTRAINT [FK_ketquahoctap_monhoc] FOREIGN KEY([mamonhoc])
REFERENCES [dbo].[monhoc] ([mamonhoc])
GO
ALTER TABLE [dbo].[ketquahoctap] CHECK CONSTRAINT [FK_ketquahoctap_monhoc]
GO
ALTER TABLE [dbo].[khenthuong]  WITH CHECK ADD  CONSTRAINT [FK_khenthuong_hocsinh] FOREIGN KEY([mahocsinh])
REFERENCES [dbo].[hocsinh] ([mahocsinh])
GO
ALTER TABLE [dbo].[khenthuong] CHECK CONSTRAINT [FK_khenthuong_hocsinh] 
GO
ALTER TABLE [dbo].[khenthuong]  WITH CHECK ADD  CONSTRAINT [FK_khenthuong_monhoc] FOREIGN KEY([mamonhoc])
REFERENCES [dbo].[monhoc] ([mamonhoc])
GO
ALTER TABLE [dbo].[khenthuong] CHECK CONSTRAINT [FK_khenthuong_monhoc]
GO
ALTER TABLE [dbo].[lop]  WITH CHECK ADD  CONSTRAINT [FK_lop_loailophoc] FOREIGN KEY([maloailophoc])
REFERENCES [dbo].[loailophoc] ([maloailop])
GO
ALTER TABLE [dbo].[lop] CHECK CONSTRAINT [FK_lop_loailophoc]
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_giaovien] FOREIGN KEY([magiaovien])
REFERENCES [dbo].[giaovien] ([magiaovien])
GO
ALTER TABLE [dbo].[monhoc] CHECK CONSTRAINT [FK_monhoc_giaovien]
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_loaimonhoc] FOREIGN KEY([maloaimon])
REFERENCES [dbo].[loaimonhoc] ([maloai])
GO
ALTER TABLE [dbo].[monhoc] CHECK CONSTRAINT [FK_monhoc_loaimonhoc]
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_phonghoc] FOREIGN KEY([maphong])
REFERENCES [dbo].[phonghoc] ([maphong])
GO
ALTER TABLE [dbo].[monhoc] CHECK CONSTRAINT [FK_monhoc_phonghoc]
GO
ALTER TABLE [dbo].[monhoc_hocsinh]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_hocsinh_hocsinh] FOREIGN KEY([mahocsinh])
REFERENCES [dbo].[hocsinh] ([mahocsinh])
GO
ALTER TABLE [dbo].[monhoc_hocsinh] CHECK CONSTRAINT [FK_monhoc_hocsinh_hocsinh]
GO
ALTER TABLE [dbo].[monhoc_hocsinh]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_hocsinh_monhoc] FOREIGN KEY([mamonhoc])
REFERENCES [dbo].[monhoc] ([mamonhoc])
GO
ALTER TABLE [dbo].[monhoc_hocsinh] CHECK CONSTRAINT [FK_monhoc_hocsinh_monhoc]
GO
ALTER TABLE [dbo].[thoigianday]  WITH CHECK ADD  CONSTRAINT [FK_thoigianday_monhoc] FOREIGN KEY([mamonhoc])
REFERENCES [dbo].[monhoc] ([mamonhoc])
GO
ALTER TABLE [dbo].[thoigianday] CHECK CONSTRAINT [FK_thoigianday_monhoc]
GO
